<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add
      name="dan"
      connectionString="Server=192.168.0.9;Database=proyecto;User Id=sa;Password=password123;"
      providerName=""
      />
    <add
      name="nuevo"
      connectionString="Server=ProyectoDT.mssql.somee.com;Database=ProyectoDT;User Id=dtzb_SQLLogin_1;Password=tddbwyeezd;"
      providerName=""
      />
    <add
      name="OnlineSql"
      connectionString="workstation id=ProyectoDT.mssql.somee.com;packet size=4096;user id=dtzb_SQLLogin_1;pwd=tddbwyeezd;data source=ProyectoDT.mssql.somee.com;persist security info=False;initial catalog=ProyectoDT"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>
</configuration>
